<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="fix typo" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="biotechscouting.sk.ru" />
                    </conditions>
                    <action type="Redirect" url="https://biotech-scouting.sk.ru/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
